node_modules
.git
.github
.gitignore
*.md
.DS_Store
.vercel
*.py

# Ignore heavy PDFs / binary documents
api/docs/**/*.pdf
docs/**/*.pdf

# Ignore mongo binary dump
api/data/processed/mongo/

# Ensure all data files are included
!api/data/**/*.csv
!api/data/**/*.json

# Exclude output dir
output/
